body
{
    font-family: Tahoma;
}
.main
{
    display: flex;
}
.types
{
    display: flex;
    flex-direction: column;
    margin:20px;
}
span
{
    width: 200px;
    height: 55px;
    border-radius: 15px;
    background-color: #e2fffb;
    box-shadow: 0 0 10px rgb(129, 129, 129);
    color: #3b4da3;
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
}
h3
{
    margin-left: 60px;
}
#red
{
    color: red;
}